[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --color --graph --pretty=format:'%C(bold blue)%h%Creset -%C(yellow)%d%Creset %s %C(magenta)(%cr) %C(cyan)<%an>%Creset' --abbrev-commit
  last = log -1 HEAD --color --graph --pretty=format:'%C(bold blue)%h%Creset -%C(yellow)%d%Creset %s %C(magenta)(%cr) %C(cyan)<%an>%Creset' --abbrev-commit